.App {
  margin-top: 20px;
}

button {
  background-color: orange;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  color: #f0f0f0;
}

div {
  text-align: center; /* 子要素を中央揃えに */
}

/* display要素のスタイル */
#display {
  border: 2px solid black; /* 黒い枠線を追加 */
  padding: 10px; /* 内側の余白 */
  margin-top: 20px; /* 上部の余白 */
  display: inline-block; /* インラインブロック要素として表示 */
  font-size: 32px; /* フォントサイズを大きくして数字が見やすく */
  width: 100px; /* 幅を固定して数字が3桁でも収まるように */
  text-align: center; /* テキストを中央揃えに */
}
